#quote-box {
    background-color: white;
    text-align: center;
    width: 520px;
    border-radius: 3px;
    padding: 45px 55px;
    -webkit-box-shadow: -5px -1px 48px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -5px -1px 48px -14px rgba(0, 0, 0, 0.75);
    box-shadow: -5px -1px 48px -14px rgba(0, 0, 0, 0.75);
}

.quote-text {
    font-size: 1.9rem;
    text-align: center;
}

.quote-text i {
    margin-right: 10px;
}

.quote-author {
    font-weight: 300;
    margin-top: 1rem;
    font-size: 1rem;
    text-align: end;
}

.buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 17px;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    height: 35px;
    text-align: center;
}


#new-quote {
    font-size: 0.8rem;
}

#tweet-quote {
    width: 2.5rem;
    font-size: 1.2rem;
}