* {
  padding: 0;
  margin: 0;
  text-align: center;
}

html,
body {
  height: 100%;
  background-color: #bcb1bf;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
}
